* {
  margin: 0;
  padding: 0;
}

#background {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

header {
  flex: 1.5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00efc5;
}

main {
  flex: 8;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  flex-direction: column;
}

#form {
  width: 35%;
  background: #eeefee;
  padding: 15px;
  border-radius: 5px;
}

#header-form  {
  margin: 0px 0px 12px 0px; 
  display: flex;
  justify-content: space-between;
}

#header-form i {
  margin-top: 10px ;
}

#header-form>div>h6 {
  font-style: normal;
}

#header-form>div>div {
  font-size: 20px;
}

#nome-sobrenome {
  display: flex;
  justify-content: space-between;
}

#nome-sobrenome input {
  width: 155px;
}

.input {
  border: 1px solid #787777ee;
  margin: 0px 0px 12px 0px; 
  border-radius: 5px;
  padding: 5px;
}

.input input {
  width: 95%;
  border: none;
  outline: none;
  transform: translateY(-45%);
  margin-left: 8px;
}

#data-nascimento {
  margin-bottom: 10px;
}
#select-data-nascimento {
  display: flex;
  justify-content: space-between; 
}

#data-nascimento>div:first-child {
  margin: 0px 0px 5px 0px; 
  font-size: 14px;
}

select {
  height: 40px;
  width: 115px;
  border: 1px solid #787777ee;
  margin: 0px 0px 12px 0px; 
  padding: 5px;
  border-radius: 5px;
}

#btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn button {
  background: green;
  width: 70%;
  height: 50px;
  border-radius: 10px;
  font-size: 0.6em;
}

footer {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}
