* {
    margin: 0;
    padding: 0;
  }
  body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  
  header {
    flex: 1.5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00efc5;
    margin-bottom: 30px;
  }
  
  nav{
    overflow: hidden;
    font-family: Arial,Helvetica,sans-serif;
  }
  
  nav li{
    float: left;
    font-size: 1em;
    padding: 0.875em 1em;
    list-style: none;
    
  }
  
  nav li :hover{
    padding: 0.5em 0.5em;
    background-color: #00efc5;
    color: #fff;
    border-radius: 0.5em;
  }
  
  nav li a{
    text-decoration: none;
    color: #000;
  }
  
  #header-main{
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #header-icon-menu{
    height: 70%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
  }
  
  #header-buttons{
    height: 70%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  
  header button{
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.5em;
    padding: 0.875em 1em;
    font-family: inherit;
    font-size: 0.875em;  
    letter-spacing: 0.01875em;
    border: medium none;
    background: #00efc5;
    color: #fff;
  }
  
  main {
    flex: 8;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2em;
    background-color: #eeefee;
    border-radius: 5px;
  }
  
  #termos-text{
    width: 45%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }
  
  #text-logo{
    color:#00efc5;
    /* margin-bottom: 0%; */
  }
  
  #sub-text{
    margin-bottom: 5%;
    font-size: 1.5em;
    font-family: Graphik-Medium, "Graphik-Regular", "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.32;
    letter-spacing: -0.02em;
  }
  
  #text-description{
    margin-bottom: 5%;
    font-size: 0.7em;
    font-family: Graphik-Medium, "Graphik-Regular", "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.32;
    letter-spacing: -0.02em;
  }
  
  #container-termos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 37%;
    background: #eeefee;
    padding: 15px;
    border-radius: 5px;
    height: 30%;
  }
  
  #texto-termos{
    width: 100%;
    background-color: #fff;
  }

  #checkbox-termos{
    width: 100%;
    background-color: red;
  }

  #botao-aceite-termos{
    width: 100%;
    background-color: blue;
  }

  #header-form  {
    margin: 0px 0px 12px 0px; 
    display: flex;
    justify-content: space-between;
  }


  
  /*
  #header-form i {
    margin-top: 10px ;
  }
  
  #header-form>div>h6 {
    font-style: normal;
  }
  
  #header-form>div>div {
    font-size: 20px;
  }
  */
  
  #nome-sobrenome {
    display: flex;
    justify-content: space-between;
  }
  
  #nome-sobrenome input {
    width: 95%;
  }
  
  .input {
    border: 1px solid #787777ee;
    margin: 0px 0px 12px 0px; 
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffff;
  }
  
  .input input {
    width: 95%;
    border: none;
    outline: none;
    transform: translateY(-45%);
    margin-left: 8px;
  }
  
  .select-radio-title>div:first-child {
    margin: 0px 0px 5px 0px; 
    font-size: 14px;
  }
  
  .select-radio-flex {
    display: flex;
    justify-content: space-between; 
  }
  
  select {
    height: 2.5em;
    width: 30%;
    border: 1px solid #787777ee;
    margin: 0px 0px 12px 0px; 
    padding: 5px;
    border-radius: 5px;
  }
  
  .input-genero {
    border: 1px solid red;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    height: 2.5em;
    width: 30%;
    background-color: #ffffff;
    border: 1px solid #787777ee;
    border-radius: 5px;
    margin-bottom: 12px;
  }
  
  .input-genero label {
    width: 45%;
    font-size: 17px;
    text-align: center;
    line-height: 2.6vw; 
    flex:1;
  }
  
  .input-genero input {
    margin-right: 12px;
  }
  
  span {
    display: inline-block;
  }
  
  #btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  #btn button {
    background: #00efc5;
    width: 70%;
    height: 50px;
    border-radius: 10px;
    font-size: 0.6em;
    font-weight: bold;
    cursor: pointer;
  }
  
  footer {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
  }
  