.footerContainer {
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a, a:visited{
  display: flex;
  width: 15%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--cinza-600);
}

.icone{
  width: 30px;
  height: 30px;
}