* {
  margin: 0;
  padding: 0;
}

#background {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

header {
  flex: 1.5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00efc5;
}

main {
  flex: 8;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

footer {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}
