.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teste {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
