.mainSectionBody{

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 50px;
    width: 100%;
    height: 100%;

    
    /* background-image: url("../../assets/background-image-main.webp");
    background-position: center;
    background-size: auto; */
    

    
    
}

.rightSide{
    width: 50%;
    height: 100%;

    /* background-color: aquamarine; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.rightSideTitle{
    width: 100%;
}

.rightSideMainText{

    width: 100%;
    height: 40%;
    


    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.leftSide{
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: beige; */
}



.linhaBeneficios{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    /* background-color: cadetblue; */
}

.linhaBeneficios p{
    width: 90%;    
}