* {
    margin: 0;

}

.botoesHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .titulo{
  
    width: 100%;
    
   display: flex;
   flex-direction: column;
   

   

   
  }
.tituloPreto{
   
    margin-left: 35%;
    font-size: 2.8rem;
    font-weight: 500;
    
    
}
  .tituloazul{
    color: var(--ciano);
    margin-right: 42%;
    margin-top: -2%;
    font-size: 3rem;
  }





.conteudoConteiner{
    display: flex;
    flex-direction: column;
    margin: 10px;
    overflow: auto;
    width: 100%;
}

.integranteLinha1{
    
    justify-content: center;
    display:flex;
    flex-direction: row;
   width: 100%;
   gap: 10em;
   
    
    
}

.integranteLinha2{
    
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10em;
    
    

}