* {
    margin: 0;
}

.botoesHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.titulo{
    width: 100%;
    height: 10%;
    display: flex;
}

.tituloPreto{   
     color: var(--cinza-600);
     font-size: 2.8rem;
     font-weight: 500;
 }
 
.tituloazul{
     color: var(--ciano);
     font-size: 2.8rem;
     font-weight: 500;
   }

.conteudo {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 80%;
    height: 90%;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90%;

}

.colunaEsquerda {
    width: 55%;
    height: 100%;
    /* margin: 0; */
}

.colunaEsquerda .imagem {
    width: 90%;
    display: flex;
    border-radius: 5% 5% 5% 5%;
    border-left: 3em solid var(--ciano);
}

.colunaDireitaConteiner {
    width: 43%;
    height: 100%;
    font-size: 1em;
    line-height: 2em;
    /* padding-top: 0.5em; */
    /* margin: -1em 0em; */
    text-indent: 2em;
    text-align: justify;
    overflow-y: auto;
}

.colunaDireita{
    margin-right: 1em;
}