* {
    margin: 0;
    padding: 0;
}
  
.selectRadioTitle > div:first-child {
    font-size: 14px;
}
  
.selectRadioFlex {
    display: flex;
    justify-content: space-between;
}
  
select {
    height: 2em;
    width: 33%;
    border: 1px solid #787777ee;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  
.btn button {
    background-color: #00efc5;
    border: 1px solid #00efc5;
    color: #fff;
    width: 70%;
    height: 50px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
  }
  
.btn button:disabled,
  button:hover {
    background-color: transparent;
    border: 1px solid #00efc5;
    color: #00efc5;
    cursor: auto;
  }


