*{
  margin: 0;
}

.conteudoSaldo {
  flex: 4;
  width: 95%;
  max-width: 1000px;
  min-height: 70vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  background-color: var(--conteudo-background);
  border-radius: 10px;
}

.painelNomes{
  width: 100%;
  height: 15%;
  

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.painelNomes h1{
  justify-self: flex-start;
  
  margin-left: 0px;
  margin-right: 0px;
}

.painelNomes div{
  justify-self: flex-start;
  
  margin-left: 0px;
  margin-right: 0px;
}

.painelSuperior{
  width: 100%;
  height: 30%;
  

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dadosConta{
  width: 30%;
  height: 100%;
  background-color: var(--ciano);
  border-radius: 10px;

  margin-left: 0px;
  margin-right: 0px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.painelSuperiorlinha{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
 
}

.coluna{
  font-size: 2rem;
  
}

.painelInferior{
  width: 100%;
  height: 50%;
  background-color: aqua;

}


.botoesHeader {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
