.conteudoSaldo {
  flex: 4;
  width: 95%;
  max-width: 1000px;
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--conteudo-background);
  border-radius: 10px;
  padding: 4rem 1rem;
  gap: 1rem;
}

.colunaDireita {
  min-width: 266px;
  width: 45%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colunaEsquerda {
  min-width: 266px;
  width: 45%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colunaEsquerdaTitulo {
  width: 100%;
}

.colunaEsquerdaTitulo h2 {
  color: var(--preto);
  font-size: 48px;
  font-weight: 500;
}

.colunaEsquerdaTexto {
  width: 100%;
}

.subtitulos {
  color: var(--ciano);
  font-size: 24px;
}

.conteudoSubtitulos {
  color: var(--preto);
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.colunaDireitaTitulos {
  color: var(--ciano);
  font-size: 32px;
  width: 100%;
  text-align: right;
}

.colunaDireitaValores {
  color: var(--preto);
  font-size: 24px;
  width: 100%;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

.colunaDireitaValores h2 {
  color: var(--preto);
  width: 100%;
  font-weight: 500;
  text-align: right;
}

.botoesHeader {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
